.env
**/.env
!**/.env.example
node_modules/
**/node_modules/
venv/
**/venv/
__pycache__/
*.pyc
dist/
**/dist/
build/
data/uploads/*
data/vector_store/*
!data/uploads/.gitkeep
!data/vector_store/.gitkeep
.DS_Store
Thumbs.db
